{% extends "../../modules/_base.html" %}

{% block title %}Example{% endblock title %}
{% block content %}

<section id="section-1" class="bg-white dark:bg-gray-900">
  <div class="container mx-auto px-6 py-20 lg:py-32">
    Section 1
  </div>
</section>

<section id="section-2" class="bg-gray-50 dark:bg-gray-800 py-16 sm:py-24">
  <div class="container mx-auto px-6">
    Section 2 electric boogaloo
  </div>
</section>

<section id="section-3" class="bg-white dark:bg-gray-900 py-16 sm:py-24">
  <div class="container mx-auto px-6">
    Section 3
  </div>
</section>
{% endblock %}